@{
    ViewBag.Title = "Booking Success";
}
<main class="page-content">
    <section class="bg-image-03">
        <div class="breadcrumb-wrapper">
            <div class="shell context-dark section-30 section-md-top-80">
                <h1 class="offset-top-20 text-ubold">Booking Status.</h1>
                <ol class="breadcrumb">
                    <li><a href="./">Flight</a></li>
                    <li><a>Booking Status</a></li>
                </ol>
            </div>
        </div>
    </section>
    <section class="section-80 section-md-120 bg-gray-lighter">
        <div class="shell">
            <div class="range range-xs-center">
                    <h4> Booking Successful! </h4><h4><a href=@Url.Action("Index", "Manage")>  View your booking.</a></h4>
          
            </div>

        </div>
    </section>
</main>